name: hybrid-vit-performer
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - numpy
  - pandas
  - matplotlib
  - tqdm
  - jupyter
  - ipykernel
  - pip
  - pip:
      - performer-pytorch
      - pyyaml