# Python version
python>=3.10

# Core deep learning
torch
torchvision

# Core scientific stack
numpy
pandas
matplotlib
tqdm

# Notebooks / reproducibility
jupyter
ipykernel

# Performer / ViT
performer-pytorch

# YAML utilities
pyyaml